html
{
    scroll-behavior: smooth;
    background-color: #f3f3f3;
}

.leftside
{
    position: absolute;
    height: 2000px;
    width: 30%;
    border-right: rgb(209, 209, 209) solid 2px;
}

.rightside
{
    position: absolute;
    height: 2000px;
    width: 70%;
    left: 30%;
}

.profilepic{
    position: absolute;
    width: 100%;
    height: 600px;

}

.profilepic img
{
    position:absolute;
    top: -20px;
    
}

.name
{
    background-color: #383838;
    width: 100%;
    height: 200px;
    top: -20px;
    left: 10px;
    position: absolute;
}
.name h1
{
    color: whitesmoke;
    position: absolute;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    top: -20px;
    left: 50px;
    letter-spacing: 5px;
}
.name h6
{
    color: whitesmoke;
    position: absolute;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    top: 55px;
    left: 60px;
    letter-spacing: 4px;
}
.aboutme h1
{
    color: #383838;
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
}
.aboutme h6
{
    color: #777777;
    position: absolute;
    top: 235px;
    left: 50px;
    margin-right: 50px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.education h1
{
    position: absolute;
    top: 580px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: #383838;
    font-weight: 550;
    font-size: 35px;
    left: 50px;
    letter-spacing: 5px;
}

.primary h1
{
    position: absolute;
    top: 720px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #383838;
    font-weight: 600;
    left: 70px;
    letter-spacing: 2px;
}

.primary h6
{
    position: absolute;
    top: 680px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
    font-weight: 600;
    left: 260px;
    letter-spacing: 2px;
}

.primary p{
    position: absolute;
    top: 760px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777777;
    font-weight: 500;
    left: 260px;
    margin-right: 50px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
}
.secondary h1
{
    position: absolute;
    top: 900px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #383838;
    font-weight: 600;
    left: 70px;
    letter-spacing: 2px;
}

.secondary h6
{
    position: absolute;
    top: 861px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
    font-weight: 600;
    left: 260px;
    letter-spacing: 2px;
}

.secondary p{
    position: absolute;
    top: 940px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777777;
    font-weight: 500;
    left: 260px;
    margin-right: 50px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 23px;
}

.tertiary h1
{
    position: absolute;
    top: 1130px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #383838;
    font-weight: 600;
    left: 70px;
    letter-spacing: 2px;
}

.tertiary h6
{
    position: absolute;
    top: 1090px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
    font-weight: 600;
    margin-right: 50px;
    left: 260px;
    letter-spacing: 2px;

}

.tertiary p{
    position: absolute;
    top: 1200px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777777;
    font-weight: 500;
    left: 260px;
    margin-right: 50px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 25px;
}
.skills h1
{
    position: absolute;
    font-size: 35px;
    top: 580px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #383838;
    font-weight: 550;
    letter-spacing: 5px;
}

.skills h6
{
    position: relative;
    margin-top: 0px;
    top: 730px;
    left: 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b4b4b;
}
.skills pre
{
    position: relative;
    top: 745px;
    left: 200px;
    font-size: 40px;
    letter-spacing: -5px;
    margin-top: -100px;
    color: rgb(235, 199, 0);
}

.contact
{
    position: absolute;
    top: 1150px;
    width: 100%;
    height: 600px;
}

.contact h1
{
    position: absolute;
    font-size: 35px;
    color: #424242;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0px;
    left: 50px;
}

#github
{
    position: absolute;
    top: 100px;
    width: 50%;
    height: 25%;
    left: 0px;
}

#github img
{
    position: absolute;
    left: 80px;
    top: 20px;
}

#github p
{
    position: absolute;
    left: 80px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}

#linkedin
{
    position: absolute;
    right: 0px;
    top: 100px;
    width: 50%;
    height: 25%;
}

#linkedin img
{
    position: absolute;
    top: 20px;
    left: 80px;
}

#linkedin p
{
    position: absolute;
    left: 75px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}

#codechef
{
    position: absolute;
    top: 280px;
    width: 50%;
    height: 25%;
    left: 0px;
}

#codechef img
{
    position: absolute;
    top: 20px;
    left: 80px;
}


#codechef p
{

    position: absolute;
    left: 70px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}

#hackerrank
{
    position: absolute;
    right: 0px;
    top: 280px;
    width: 50%;
    height: 25%;
}

#hackerrank img
{
    position: absolute;
    top: 20px;
    left: 80px;
}

#hackerrank p
{
    position: absolute;
    left: 65px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}

#insta
{
    position: absolute;
    top: 460px;
    width: 50%;
    height: 25%;
}

#insta img
{
    position: absolute;
    top: 20px;
    left: 80px;
}

#insta p
{
    position: absolute;
    left: 70px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}


#email
{
    position: absolute;
    right: 0px;
    top: 460px;
    width: 50%;
    height: 25%;
}
#email img
{
    position: absolute;
    left: 80px;
    top: 20px;
}

#email p
{
    position: absolute;
    left: 85px;
    top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    font-size: 20px;
}

.projects h1
{
    position: absolute;
    top: 1370px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: #383838;
    font-weight: 550;
    font-size: 35px;
    left: 50px;
    letter-spacing: 5px;
}

.projects h2
{
    position: relative;
    top: 1500px;
    left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #5c5c5c;
    

}

.projects h3
{
    position: relative;
    top: 1450px;
    left: 600px;
}

.projects p
{
    position: relative;
    top: 1490px;
    left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5c5c5c;

}

.projects button
{
    position: absolute;
    background-color: #383838;
    color: whitesmoke;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 7px;

}

.projects button:hover
{
    background-color:rgb(209, 209, 209);
    color: #383838;
 
}

.footer
{
    min-width: 100%;
    background-color: #383838;
    height: 100px;
    top: 1900px;
    position: absolute;
}

.footer p
{
    color: #f3f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    top: 20px;
    position: relative
}